@media only screen and (max-width: 425px) {
  .wrap-princ .card-login .box-selector {
    padding: 1rem; }
    .wrap-princ .card-login .box-selector .content-additional-services ul li {
      width: 45%;
      margin-bottom: .75rem; }
      .wrap-princ .card-login .box-selector .content-additional-services ul li span {
        width: 100%; }
    .wrap-princ .card-login .box-selector .content-additional-schedule .form-group {
      width: 100%; } }
