@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
#header-wrap {
  margin-bottom: 3rem; }

.wrap-princ {
  font-family: "Roboto", sans-serif; }
  .wrap-princ .tooltip-inner {
    background-color: #00cc00; }
  .wrap-princ .tooltip.bs-tooltip-right .arrow:before, .wrap-princ .tooltip.bs-tooltip-left .arrow:before, .wrap-princ .tooltip.bs-tooltip-bottom .arrow:before, .wrap-princ .tooltip.bs-tooltip-top .arrow:before {
    border-right-color: #00cc00 !important; }
  .wrap-princ .breadcrumb {
    margin: 0 0 1rem;
    background: #fff; }
    .wrap-princ .breadcrumb .breadcrumb-item {
      color: #414141;
      font-size: 14px; }
      .wrap-princ .breadcrumb .breadcrumb-item a {
        color: #7C7C7C; }
  .wrap-princ .card-login {
    -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
    margin: 0 0 3rem;
    border-radius: 10px;
    overflow: hidden; }
    .wrap-princ .card-login .content-bg-login {
      background: url(../images/bg-login.jpg) no-repeat top center;
      background-size: cover;
      width: 100%;
      height: 100%; }
    .wrap-princ .card-login .content-info-login {
      padding: 6rem 4rem; }
      .wrap-princ .card-login .content-info-login .box-login form {
        margin-bottom: 2rem;
        display: block;
        padding-bottom: 2rem; }
        .wrap-princ .card-login .content-info-login .box-login form .form-group input {
          width: 100%;
          color: #929699;
          background-color: #fff;
          border: 1px solid #ced4da;
          padding: .75rem 1rem;
          border: 1px solid #E0E3E5; }
          .wrap-princ .card-login .content-info-login .box-login form .form-group input::-webkit-input-placeholder {
            color: #929699;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-style: normal; }
          .wrap-princ .card-login .content-info-login .box-login form .form-group input::-moz-placeholder {
            color: #929699;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-style: normal; }
          .wrap-princ .card-login .content-info-login .box-login form .form-group input:-ms-input-placeholder {
            color: #929699;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-style: normal; }
          .wrap-princ .card-login .content-info-login .box-login form .form-group input:-moz-placeholder {
            color: #929699;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-style: normal; }
        .wrap-princ .card-login .content-info-login .box-login form .form-check {
          display: inline-block;
          margin-top: .75rem;
          cursor: pointer; }
        .wrap-princ .card-login .content-info-login .box-login form .input-group {
          margin-bottom: 2rem; }
        .wrap-princ .card-login .content-info-login .box-login form .input-group-text {
          color: #D1D1D1;
          background-color: #fff;
          border: 1px solid #ced4da;
          padding: .75rem 1rem;
          border: 1px solid #E0E3E5; }
        .wrap-princ .card-login .content-info-login .box-login form .input-text,
        .wrap-princ .card-login .content-info-login .box-login form input[type="text"] {
          padding: 13px 22px;
          font-size: 14px;
          border: 1px solid #E0E3E5;
          background-color: transparent; }
          .wrap-princ .card-login .content-info-login .box-login form .input-text::-webkit-input-placeholder,
          .wrap-princ .card-login .content-info-login .box-login form input[type="text"]::-webkit-input-placeholder {
            color: #929699;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-style: normal; }
          .wrap-princ .card-login .content-info-login .box-login form .input-text::-moz-placeholder,
          .wrap-princ .card-login .content-info-login .box-login form input[type="text"]::-moz-placeholder {
            color: #929699;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-style: normal; }
          .wrap-princ .card-login .content-info-login .box-login form .input-text:-ms-input-placeholder,
          .wrap-princ .card-login .content-info-login .box-login form input[type="text"]:-ms-input-placeholder {
            color: #929699;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-style: normal; }
          .wrap-princ .card-login .content-info-login .box-login form .input-text:-moz-placeholder,
          .wrap-princ .card-login .content-info-login .box-login form input[type="text"]:-moz-placeholder {
            color: #929699;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-style: normal; }
        .wrap-princ .card-login .content-info-login .box-login form .btn {
          background-color: #47b68b;
          border: 1px solid #47b68b;
          padding: .5rem 2rem; }
      .wrap-princ .card-login .content-info-login .box-login .login-rrss {
        padding: 0 2rem; }
        .wrap-princ .card-login .content-info-login .box-login .login-rrss .btn-login-rrss {
          display: block;
          padding: .75rem;
          text-transform: uppercase;
          color: #fff;
          margin-bottom: 2rem;
          border-radius: .25rem; }
          .wrap-princ .card-login .content-info-login .box-login .login-rrss .btn-login-rrss:last-child {
            margin-bottom: 0; }
          .wrap-princ .card-login .content-info-login .box-login .login-rrss .btn-login-rrss:hover {
            text-decoration: none; }
        .wrap-princ .card-login .content-info-login .box-login .login-rrss .btn-login-facebook {
          background: #3B5998; }
        .wrap-princ .card-login .content-info-login .box-login .login-rrss .btn-login-google {
          background: #F44336; }
      .wrap-princ .card-login .content-info-login .box-login .separator-login {
        color: #929699;
        font-size: 14px;
        position: relative;
        margin-bottom: 2rem; }
        .wrap-princ .card-login .content-info-login .box-login .separator-login::before {
          content: '';
          background: #E7E7E7;
          height: 1px;
          width: 180px;
          position: absolute;
          display: block;
          top: 50%;
          left: 0; }
        .wrap-princ .card-login .content-info-login .box-login .separator-login::after {
          content: '';
          background: #E7E7E7;
          height: 1px;
          width: 180px;
          position: absolute;
          display: block;
          top: 50%;
          right: 0; }
      .wrap-princ .card-login .content-info-login .box-login .btn-register {
        background: #BABABA;
        padding: .75rem 4rem;
        color: #fff;
        text-transform: uppercase;
        font-weight: 400; }
    .wrap-princ .card-login .box-selector {
      padding: 4rem 7rem 4rem 4rem;
      color: #666666;
      min-height: 800px; }
      .wrap-princ .card-login .box-selector h4 {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 1.3rem; }
      .wrap-princ .card-login .box-selector .content-building {
        margin-bottom: 2rem; }
        .wrap-princ .card-login .box-selector .content-building p {
          font-size: 12px;
          margin-bottom: 1.1rem; }
        .wrap-princ .card-login .box-selector .content-building .btn-building {
          cursor: pointer;
          padding: .5rem 2.5rem;
          border: 1px solid #47b68b;
          color: #47b68b;
          margin-right: 1rem;
          -webkit-transition: all 500ms ease;
          -moz-transition: all 500ms ease;
          -ms-transition: all 500ms ease;
          -o-transition: all 500ms ease;
          transition: all 500ms ease;
          font-size: 1.2rem; }
          .wrap-princ .card-login .box-selector .content-building .btn-building:last-child {
            margin-right: 0; }
          .wrap-princ .card-login .box-selector .content-building .btn-building:hover, .wrap-princ .card-login .box-selector .content-building .btn-building:focus, .wrap-princ .card-login .box-selector .content-building .btn-building:active, .wrap-princ .card-login .box-selector .content-building .btn-building.active {
            color: #fff;
            background: #47b68b; }
      .wrap-princ .card-login .box-selector .content-services {
        margin-bottom: 2rem; }
        .wrap-princ .card-login .box-selector .content-services p {
          font-size: 12px;
          margin-bottom: 1.1rem; }
        .wrap-princ .card-login .box-selector .content-services .content-services-btn {
          width: 120px;
          display: inline-block;
          text-align: center;
          margin-right: 1rem; }
          .wrap-princ .card-login .box-selector .content-services .content-services-btn:last-child {
            margin-right: 0; }
          .wrap-princ .card-login .box-selector .content-services .content-services-btn .btn-building {
            cursor: pointer;
            padding: .5rem .2rem;
            border: 1px solid #47b68b;
            color: #47b68b;
            width: 100%;
            display: block;
            -webkit-transition: all 500ms ease;
            -moz-transition: all 500ms ease;
            -ms-transition: all 500ms ease;
            -o-transition: all 500ms ease;
            transition: all 500ms ease;
            font-size: .8rem;
            line-height: .9rem;
            text-align: center; }
            .wrap-princ .card-login .box-selector .content-services .content-services-btn .btn-building:hover, .wrap-princ .card-login .box-selector .content-services .content-services-btn .btn-building:focus, .wrap-princ .card-login .box-selector .content-services .content-services-btn .btn-building:active, .wrap-princ .card-login .box-selector .content-services .content-services-btn .btn-building.active {
              color: #fff;
              background: #47b68b; }
          .wrap-princ .card-login .box-selector .content-services .content-services-btn .link-detalle {
            padding: 0;
            border: 0;
            color: #939393;
            font-weight: 300;
            cursor: pointer; }
            .wrap-princ .card-login .box-selector .content-services .content-services-btn .link-detalle:hover, .wrap-princ .card-login .box-selector .content-services .content-services-btn .link-detalle:focus, .wrap-princ .card-login .box-selector .content-services .content-services-btn .link-detalle:active {
              background: transparent;
              border: 0; }
      .wrap-princ .card-login .box-selector .content-rooms {
        float: left; }
        .wrap-princ .card-login .box-selector .content-rooms .input-group {
          width: 30%;
          float: left;
          margin-right: 1rem; }
          .wrap-princ .card-login .box-selector .content-rooms .input-group input[type="number"] {
            border: 0;
            border-bottom: 1px solid #47b68b;
            color: #47b68b;
            font-size: 2rem;
            padding: 0;
            text-align: center; }
        .wrap-princ .card-login .box-selector .content-rooms .input-group-append {
          padding: 0 .5rem;
          font-size: 2rem;
          color: #47b68b; }
      .wrap-princ .card-login .box-selector .content-additional-services p {
        display: inline-block; }
      .wrap-princ .card-login .box-selector .content-additional-services .info-pasos-room-plancha, .wrap-princ .card-login .box-selector .content-additional-services .info-pasos-room-refri, .wrap-princ .card-login .box-selector .content-additional-services .info-pasos-room-horno {
        display: block; }
        .wrap-princ .card-login .box-selector .content-additional-services .info-pasos-room-plancha.disabled, .wrap-princ .card-login .box-selector .content-additional-services .info-pasos-room-refri.disabled, .wrap-princ .card-login .box-selector .content-additional-services .info-pasos-room-horno.disabled {
          display: none; }
      .wrap-princ .card-login .box-selector .content-additional-services .btn-secondary {
        padding: 0;
        background: transparent;
        color: #47b68b;
        border: 0;
        display: inline-block; }
      .wrap-princ .card-login .box-selector .content-additional-services .content-btn-additional {
        display: block; }
      .wrap-princ .card-login .box-selector .content-additional-services ul {
        padding: 0;
        list-style-type: 0;
        margin: 0; }
        .wrap-princ .card-login .box-selector .content-additional-services ul li {
          display: inline-block; }
          .wrap-princ .card-login .box-selector .content-additional-services ul li span {
            cursor: pointer;
            padding: .5rem 1rem;
            border: 1px solid #47b68b;
            color: #47b68b;
            margin-right: 1rem;
            display: inline-block;
            -webkit-transition: all 500ms ease;
            -moz-transition: all 500ms ease;
            -ms-transition: all 500ms ease;
            -o-transition: all 500ms ease;
            transition: all 500ms ease;
            font-size: .8rem;
            line-height: .9rem;
            text-align: center; }
            .wrap-princ .card-login .box-selector .content-additional-services ul li span:last-child {
              margin-right: 0; }
            .wrap-princ .card-login .box-selector .content-additional-services ul li span:hover, .wrap-princ .card-login .box-selector .content-additional-services ul li span:focus, .wrap-princ .card-login .box-selector .content-additional-services ul li span:active, .wrap-princ .card-login .box-selector .content-additional-services ul li span.active {
              color: #fff;
              background: #47b68b; }
            .wrap-princ .card-login .box-selector .content-additional-services ul li span.btn-additional-hora.active, .wrap-princ .card-login .box-selector .content-additional-services ul li span.btn-hour.active {
              color: #fff;
              background: #47b68b; }
            .wrap-princ .card-login .box-selector .content-additional-services ul li span.btn-additional-disabled {
              opacity: .5;
              cursor: default;
              border: 1px solid #777777;
              color: #777777; }
              .wrap-princ .card-login .box-selector .content-additional-services ul li span.btn-additional-disabled:hover, .wrap-princ .card-login .box-selector .content-additional-services ul li span.btn-additional-disabled:focus, .wrap-princ .card-login .box-selector .content-additional-services ul li span.btn-additional-disabled:active {
                border: 1px solid #777777;
                color: #777777;
                background: #ffffff; }
      .wrap-princ .card-login .box-selector .content-additional-schedule {
        margin-top: 1rem; }
        .wrap-princ .card-login .box-selector .content-additional-schedule p {
          display: block; }
        .wrap-princ .card-login .box-selector .content-additional-schedule .btn-secondary {
          padding: 0;
          background: transparent;
          color: #47b68b;
          border: 0;
          display: inline-block; }
        .wrap-princ .card-login .box-selector .content-additional-schedule .form-group {
          display: inline-block;
          width: 50%;
          margin-right: .9rem; }
          .wrap-princ .card-login .box-selector .content-additional-schedule .form-group .form-control {
            width: 100%;
            border: 0;
            border-bottom: 1px solid #47b68b;
            color: #47b68b;
            border-radius: 0; }
        .wrap-princ .card-login .box-selector .content-additional-schedule .content-btn-additional {
          display: block; }
        .wrap-princ .card-login .box-selector .content-additional-schedule ul {
          padding: 0;
          list-style-type: 0;
          margin: 0; }
          .wrap-princ .card-login .box-selector .content-additional-schedule ul li {
            display: inline-block; }
            .wrap-princ .card-login .box-selector .content-additional-schedule ul li span {
              cursor: pointer;
              padding: .5rem 1rem;
              border: 1px solid #47b68b;
              color: #47b68b;
              margin-right: 1rem;
              display: inline-block;
              -webkit-transition: all 500ms ease;
              -moz-transition: all 500ms ease;
              -ms-transition: all 500ms ease;
              -o-transition: all 500ms ease;
              transition: all 500ms ease;
              font-size: .8rem;
              line-height: .9rem;
              text-align: center; }
              .wrap-princ .card-login .box-selector .content-additional-schedule ul li span:last-child {
                margin-right: 0; }
              .wrap-princ .card-login .box-selector .content-additional-schedule ul li span:hover, .wrap-princ .card-login .box-selector .content-additional-schedule ul li span:focus, .wrap-princ .card-login .box-selector .content-additional-schedule ul li span:active, .wrap-princ .card-login .box-selector .content-additional-schedule ul li span.active {
                color: #fff;
                background: #47b68b; }
              .wrap-princ .card-login .box-selector .content-additional-schedule ul li span.btn-additional-hora.active, .wrap-princ .card-login .box-selector .content-additional-schedule ul li span.btn-additional-other.active {
                color: #fff;
                background: #47b68b; }
        .wrap-princ .card-login .box-selector .content-additional-schedule .btn-building {
          cursor: pointer;
          padding: .5rem 1rem;
          border: 1px solid #47b68b;
          color: #47b68b;
          margin-right: 1rem;
          display: inline-block;
          max-width: 150px;
          -webkit-transition: all 500ms ease;
          -moz-transition: all 500ms ease;
          -ms-transition: all 500ms ease;
          -o-transition: all 500ms ease;
          transition: all 500ms ease;
          font-size: .8rem; }
          .wrap-princ .card-login .box-selector .content-additional-schedule .btn-building:last-child {
            margin-right: 0; }
          .wrap-princ .card-login .box-selector .content-additional-schedule .btn-building:hover, .wrap-princ .card-login .box-selector .content-additional-schedule .btn-building:focus, .wrap-princ .card-login .box-selector .content-additional-schedule .btn-building:active, .wrap-princ .card-login .box-selector .content-additional-schedule .btn-building.active {
            color: #fff;
            background: #47b68b; }
      .wrap-princ .card-login .box-selector .content-additional-data {
        margin-top: 1rem; }
        .wrap-princ .card-login .box-selector .content-additional-data p {
          display: inline-block; }
        .wrap-princ .card-login .box-selector .content-additional-data .form-control {
          width: 100% !important;
          border: 0;
          border-bottom: 1px solid #47b68b;
          color: #47b68b;
          border-radius: 0;
          font-size: 12px; }
          .wrap-princ .card-login .box-selector .content-additional-data .form-control::-webkit-input-placeholder {
            color: #47b68b;
            font-family: "Roboto", sans-serif;
            font-size: 12px;
            font-style: normal; }
          .wrap-princ .card-login .box-selector .content-additional-data .form-control::-moz-placeholder {
            color: #47b68b;
            font-family: "Roboto", sans-serif;
            font-size: 12px;
            font-style: normal; }
          .wrap-princ .card-login .box-selector .content-additional-data .form-control:-ms-input-placeholder {
            color: #47b68b;
            font-family: "Roboto", sans-serif;
            font-size: 12px;
            font-style: normal; }
          .wrap-princ .card-login .box-selector .content-additional-data .form-control:-moz-placeholder {
            color: #47b68b;
            font-family: "Roboto", sans-serif;
            font-size: 12px;
            font-style: normal; }
    .wrap-princ .card-login .box-selector-green {
      padding: 4rem 4rem 4rem 3rem;
      background: #47b68b;
      color: #fff;
      counter-reset: section; }
      .wrap-princ .card-login .box-selector-green .content-paso {
        margin-bottom: 2rem;
        padding-left: 2rem;
        position: relative; }
        .wrap-princ .card-login .box-selector-green .content-paso::before {
          counter-increment: section;
          content: "0" counter(section) ".";
          position: absolute;
          left: -5px;
          top: 2px;
          font-size: 20px;
          font-weight: 400;
          color: #3D8368; }
        .wrap-princ .card-login .box-selector-green .content-paso::after {
          background: #3D8368;
          color: #fff;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          font-size: 18px;
          position: absolute;
          left: -70px;
          top: -10px;
          padding: .5rem 0 0;
          text-align: center;
          border-radius: 50px;
          width: 38px;
          height: 38px; }
        .wrap-princ .card-login .box-selector-green .content-paso:nth-child(1)::after {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f015";
          position: absolute; }
        .wrap-princ .card-login .box-selector-green .content-paso:nth-child(2)::after {
          font-family: "Font Awesome 5 Free";
          font-weight: 400;
          content: "\f017";
          position: absolute; }
        .wrap-princ .card-login .box-selector-green .content-paso:nth-child(3)::after {
          font-family: "Font Awesome 5 Free";
          font-weight: 400;
          content: "\f328";
          position: absolute; }
        .wrap-princ .card-login .box-selector-green .content-paso:nth-child(4)::after {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f155";
          position: absolute; }
        .wrap-princ .card-login .box-selector-green .content-paso h3 {
          font-size: 20px;
          font-weight: 500; }
        .wrap-princ .card-login .box-selector-green .content-paso p {
          font-size: 14px;
          font-weight: 300; }
        .wrap-princ .card-login .box-selector-green .content-paso.disabled {
          color: #49A07E; }
          .wrap-princ .card-login .box-selector-green .content-paso.disabled::before {
            color: #49A07E; }
          .wrap-princ .card-login .box-selector-green .content-paso.disabled::after {
            background: #49A07E;
            color: #388E6D; }
      .wrap-princ .card-login .box-selector-green .content-info-pasos {
        border-bottom: 1px solid rgba(204, 204, 204, 0.36);
        padding: 1rem 0 1.1rem;
        float: left; }
        .wrap-princ .card-login .box-selector-green .content-info-pasos .info-pasos-room {
          float: left;
          margin-right: 1.2rem;
          font-size: 30px;
          display: block; }
          .wrap-princ .card-login .box-selector-green .content-info-pasos .info-pasos-room.disabled {
            display: none; }
          .wrap-princ .card-login .box-selector-green .content-info-pasos .info-pasos-room p {
            margin-bottom: .5rem; }
      .wrap-princ .card-login .box-selector-green .content-additional-pasos {
        padding: 1rem 0 1.1rem;
        float: left; }
        .wrap-princ .card-login .box-selector-green .content-additional-pasos h5 {
          font-size: 14px;
          font-weight: 400;
          display: block; }
          .wrap-princ .card-login .box-selector-green .content-additional-pasos h5.disabled {
            display: none; }
        .wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room {
          float: left;
          font-size: 30px;
          display: block; }
          .wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room.disabled {
            display: none; }
          .wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room span {
            font-weight: 300;
            font-size: 12px;
            margin-bottom: .5rem;
            display: block; }
            .wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room span.text-total {
              font-weight: 500;
              font-size: 18px;
              margin-top: 1.5rem;
              display: block; }
              .wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room span.text-total.disabled {
                display: none; }
            .wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room span.valor-total {
              font-weight: 700;
              font-size: 30px;
              display: block; }
              .wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room span.valor-total.disabled {
                display: none; }
          .wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room p {
            margin-bottom: .5rem;
            font-weight: 500;
            font-size: 19px; }
          .wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room .form-check {
            width: 100%;
            margin: 1rem 0;
            color: #fff;
            display: block; }
            .wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room .form-check.disabled {
              display: none; }
            .wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room .form-check label {
              color: #fff;
              display: inline-block; }
          .wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room .btn {
            float: right;
            margin: 1rem 0 2rem;
            border: 1px solid #fff;
            color: #47b68b;
            border-radius: 10px;
            background: #fff;
            padding: .5rem 4rem;
            -webkit-transition: all 500ms ease;
            -moz-transition: all 500ms ease;
            -ms-transition: all 500ms ease;
            -o-transition: all 500ms ease;
            transition: all 500ms ease;
            display: block; }
            .wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room .btn.disabled {
              display: none; }
            .wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room .btn:last-child {
              margin-right: 0; }
            .wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room .btn:hover, .wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room .btn:focus, .wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room .btn:active, .wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room .btn.active {
              color: #47b68b;
              background: #fff; }

.modal-services {
  color: #606060; }
  .modal-services .modal-dialog {
    max-width: 600px; }
  .modal-services .modal-content {
    border-radius: 0;
    border: 0; }
  .modal-services .modal-header {
    border: 0; }
    .modal-services .modal-header .modal-title {
      font-size: 16px;
      font-weight: 700; }
    .modal-services .modal-header .close {
      padding: .3rem 1rem;
      color: #606060;
      text-shadow: 0 0 0 #606060;
      opacity: 1; }
      .modal-services .modal-header .close:hover {
        background: transparent; }
  .modal-services .modal-body p {
    font-weight: 400;
    font-size: 12px; }
    .modal-services .modal-body p a {
      font-weight: 700;
      color: #606060;
      -webkit-transition: color 300ms ease;
      -moz-transition: color 300ms ease;
      -ms-transition: color 300ms ease;
      -o-transition: color 300ms ease;
      transition: color 300ms ease; }
      .modal-services .modal-body p a:hover {
        text-decoration: none;
        color: #47b68b; }
  .modal-services .modal-footer {
    padding: 0 0 .2rem;
    border: 0; }

.modal-edit .modal-content {
  border-radius: 0;
  border: 0; }

.modal-edit .modal-header {
  padding: .5rem 1rem;
  position: relative; }
  .modal-edit .modal-header .close {
    padding: .5rem;
    position: absolute;
    right: 20px;
    top: 20px;
    text-shadow: 0 0 0 transparent;
    color: #47b68b;
    opacity: 1; }
    .modal-edit .modal-header .close:hover {
      background: #fff; }

.modal-edit input[type="text"]:focus,
.modal-edit input[type="email"]:focus,
.modal-edit textarea:focus {
  border: 0;
  border-bottom: 1px solid #47b68b; }

.modal-edit .form-control {
  padding: .65rem .75rem !important;
  color: #47b68b;
  border-radius: 0;
  font-size: 14px;
  border: 0;
  border-bottom: 1px solid #47b68b;
  background: #fff; }
  .modal-edit .form-control:focus, .modal-edit .form-control:active {
    background: #fff; }
  .modal-edit .form-control::-webkit-input-placeholder {
    color: #47b68b;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal; }
  .modal-edit .form-control::-moz-placeholder {
    color: #47b68b;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal; }
  .modal-edit .form-control:-ms-input-placeholder {
    color: #47b68b;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal; }
  .modal-edit .form-control:-moz-placeholder {
    color: #47b68b;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal; }

.modal-edit .custom-file-label {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #47b68b;
  color: #47b68b;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  cursor: pointer; }
  .modal-edit .custom-file-label::after {
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #fff;
    content: "Archivo";
    background-color: #47b68b;
    border-left: 0;
    border-radius: 0;
    top: 1px; }

.modal-edit .btn {
  color: #fff;
  padding: .5rem 2rem;
  border: 1px solid #47b68b;
  background: #47b68b;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  font-size: .8rem;
  text-transform: capitalize;
  float: right; }
  .modal-edit .btn:hover {
    color: #47b68b;
    background: #fff;
    text-decoration: none; }

.wrapper-dashboard {
  height: 100%; }
  .wrapper-dashboard .navbar-sidenav {
    width: 270px;
    float: left;
    position: fixed; }
    .wrapper-dashboard .navbar-sidenav .logo-dashboard {
      background: #47b68b;
      padding: 1rem .5rem; }
      .wrapper-dashboard .navbar-sidenav .logo-dashboard img {
        width: 100%; }
    .wrapper-dashboard .navbar-sidenav .sidebar-info {
      background: #399572;
      height: calc(100vh - 113px);
      padding: 1rem;
      color: #fff; }
      .wrapper-dashboard .navbar-sidenav .sidebar-info .name-sidebar-info {
        padding-bottom: 1.2rem;
        margin-bottom: 1.2rem;
        border-bottom: 1px solid #D7D7D7;
        text-align: center; }
        .wrapper-dashboard .navbar-sidenav .sidebar-info .name-sidebar-info img {
          margin: 0 auto 1rem;
          border-radius: 8px; }
        .wrapper-dashboard .navbar-sidenav .sidebar-info .name-sidebar-info p {
          color: #fff;
          font-size: 1.3rem;
          font-weight: 300; }
      .wrapper-dashboard .navbar-sidenav .sidebar-info .contact-sidebar-info ul {
        list-style-type: none;
        padding: 0;
        margin: 0; }
        .wrapper-dashboard .navbar-sidenav .sidebar-info .contact-sidebar-info ul li {
          margin-bottom: 1rem;
          display: block;
          font-weight: 300; }
          .wrapper-dashboard .navbar-sidenav .sidebar-info .contact-sidebar-info ul li strong {
            font-weight: 400;
            float: right; }
      .wrapper-dashboard .navbar-sidenav .sidebar-info .btn-edit {
        float: right;
        color: #fff;
        padding: .15rem 1rem;
        margin-top: 1rem;
        border: 1px solid #fff;
        border-radius: 5px;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
        cursor: pointer; }
        .wrapper-dashboard .navbar-sidenav .sidebar-info .btn-edit:hover {
          color: #47b68b;
          background: #fff;
          text-decoration: none; }
      .wrapper-dashboard .navbar-sidenav .sidebar-info .btn-singout {
        float: left;
        width: 100%;
        display: block;
        color: #fff;
        padding: .75rem 0;
        margin-top: 1rem;
        border: 1px solid #fff;
        border-radius: 10px;
        font-size: 1rem;
        text-align: center;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease; }
        .wrapper-dashboard .navbar-sidenav .sidebar-info .btn-singout:hover {
          color: #47b68b;
          background: #fff;
          text-decoration: none; }
    .wrapper-dashboard .navbar-sidenav .sidebar-info-clientes {
      padding: 0; }
      .wrapper-dashboard .navbar-sidenav .sidebar-info-clientes ul.nav-dash {
        list-style-type: none;
        padding: 0;
        margin: 0; }
        .wrapper-dashboard .navbar-sidenav .sidebar-info-clientes ul.nav-dash li a {
          color: #fff;
          padding: 1rem;
          width: 100%;
          display: block;
          font-size: 1rem;
          border-bottom: 1px solid #ffffff;
          -webkit-transition: all 300ms ease;
          -moz-transition: all 300ms ease;
          -ms-transition: all 300ms ease;
          -o-transition: all 300ms ease;
          transition: all 300ms ease; }
          .wrapper-dashboard .navbar-sidenav .sidebar-info-clientes ul.nav-dash li a i {
            margin-right: .5rem; }
          .wrapper-dashboard .navbar-sidenav .sidebar-info-clientes ul.nav-dash li a:hover, .wrapper-dashboard .navbar-sidenav .sidebar-info-clientes ul.nav-dash li a.active {
            background: #fff;
            color: #47b68b;
            text-decoration: none; }
  .wrapper-dashboard .content-wrapper {
    margin-left: 270px;
    padding: 1.5rem 0 0;
    height: 100%;
    position: relative; }
    .wrapper-dashboard .content-wrapper .wrapper-footer {
      color: #353d4d;
      margin-bottom: 0;
      line-height: 38px;
      font-weight: 700;
      text-align: center;
      font-size: 11px;
      padding: .75rem 0;
      border-top: 1px solid rgba(0, 0, 0, 0.125); }
      .wrapper-dashboard .content-wrapper .wrapper-footer a {
        color: #353d4d;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease; }
        .wrapper-dashboard .content-wrapper .wrapper-footer a:hover {
          text-decoration: none;
          color: #47b68b; }
    .wrapper-dashboard .content-wrapper .card {
      margin-bottom: 2rem;
      border-radius: 0; }
      .wrapper-dashboard .content-wrapper .card .card-header {
        background: #47b68b;
        border: 0;
        border-radius: 0;
        font-weight: 400;
        color: #ffffff;
        font-size: 1rem; }
        .wrapper-dashboard .content-wrapper .card .card-header p {
          padding-top: .5rem; }
        .wrapper-dashboard .content-wrapper .card .card-header form .input-group .form-control {
          padding: .2rem .75rem; }
        .wrapper-dashboard .content-wrapper .card .card-header form .input-group input[type="text"] {
          border: 0;
          border-bottom: 1px solid #fff;
          border-radius: 0;
          color: #fff;
          background: #47b68b; }
          .wrapper-dashboard .content-wrapper .card .card-header form .input-group input[type="text"]::-webkit-input-placeholder {
            color: #fff;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-style: normal; }
          .wrapper-dashboard .content-wrapper .card .card-header form .input-group input[type="text"]::-moz-placeholder {
            color: #fff;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-style: normal; }
          .wrapper-dashboard .content-wrapper .card .card-header form .input-group input[type="text"]:-ms-input-placeholder {
            color: #fff;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-style: normal; }
          .wrapper-dashboard .content-wrapper .card .card-header form .input-group input[type="text"]:-moz-placeholder {
            color: #fff;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-style: normal; }
        .wrapper-dashboard .content-wrapper .card .card-header form .input-group .btn {
          padding: 0 .5rem;
          background-color: #47b68b;
          border-radius: 0;
          border: 0;
          border-bottom: 1px solid #fff; }
      .wrapper-dashboard .content-wrapper .card .card-body {
        padding: 2.5rem; }
        .wrapper-dashboard .content-wrapper .card .card-body .title-day {
          color: #47b68b;
          font-size: 30px;
          font-weight: 600; }
        .wrapper-dashboard .content-wrapper .card .card-body .title-hour {
          color: #747575;
          font-size: 30px;
          font-weight: 600; }
        .wrapper-dashboard .content-wrapper .card .card-body thead {
          border-bottom: 1px solid #ccc; }
        .wrapper-dashboard .content-wrapper .card .card-body .table td, .wrapper-dashboard .content-wrapper .card .card-body .table th {
          border: 0; }
        .wrapper-dashboard .content-wrapper .card .card-body .table td a {
          color: #47b68b;
          font-weight: 600; }
          .wrapper-dashboard .content-wrapper .card .card-body .table td a:hover {
            text-decoration: none; }
        .wrapper-dashboard .content-wrapper .card .card-body .bootstrap-datetimepicker-widget table td, .wrapper-dashboard .content-wrapper .card .card-body .bootstrap-datetimepicker-widget table th {
          border-radius: 0;
          padding: .75rem 0; }
        .wrapper-dashboard .content-wrapper .card .card-body .bootstrap-datetimepicker-widget table td {
          background: #fff;
          -webkit-transition: all 300ms ease;
          -moz-transition: all 300ms ease;
          -ms-transition: all 300ms ease;
          -o-transition: all 300ms ease;
          transition: all 300ms ease; }
          .wrapper-dashboard .content-wrapper .card .card-body .bootstrap-datetimepicker-widget table td.free-day {
            color: #888;
            background: #fff; }
          .wrapper-dashboard .content-wrapper .card .card-body .bootstrap-datetimepicker-widget table td.selected-day {
            color: #fff;
            background: #47b68b; }
          .wrapper-dashboard .content-wrapper .card .card-body .bootstrap-datetimepicker-widget table td:hover {
            background: #47b68b;
            color: #fff; }
        .wrapper-dashboard .content-wrapper .card .card-body .bootstrap-datetimepicker-widget table td.active, .wrapper-dashboard .content-wrapper .card .card-body .bootstrap-datetimepicker-widget table td.active:hover {
          background-color: #47b68b;
          text-shadow: 0 0 0 transparent; }
        .wrapper-dashboard .content-wrapper .card .card-body .bootstrap-datetimepicker-widget table td.today:before {
          display: none; }
        .wrapper-dashboard .content-wrapper .card .card-body .bootstrap-datetimepicker-widget a[data-action] {
          display: none; }
        .wrapper-dashboard .content-wrapper .card .card-body .bootstrap-datetimepicker-widget table td span.active {
          background: #47b68b; }
        .wrapper-dashboard .content-wrapper .card .card-body .bootstrap-datetimepicker-widget table th {
          padding: .5rem 0;
          border: 0; }
        .wrapper-dashboard .content-wrapper .card .card-body .page-item:first-child .page-link, .wrapper-dashboard .content-wrapper .card .card-body .page-item:last-child .page-link {
          border-radius: 0; }
          .wrapper-dashboard .content-wrapper .card .card-body .page-item:first-child .page-link:hover, .wrapper-dashboard .content-wrapper .card .card-body .page-item:last-child .page-link:hover {
            background: #fff;
            color: #47b68b; }
        .wrapper-dashboard .content-wrapper .card .card-body .page-link {
          border: 0;
          color: #47b68b;
          font-family: "Roboto", sans-serif;
          font-size: 1rem;
          padding: .5rem .9rem;
          -webkit-transition: all 300ms ease;
          -moz-transition: all 300ms ease;
          -ms-transition: all 300ms ease;
          -o-transition: all 300ms ease;
          transition: all 300ms ease;
          margin: 0 .1rem; }
          .wrapper-dashboard .content-wrapper .card .card-body .page-link:hover {
            background-color: #47b68b;
            color: #fff; }
        .wrapper-dashboard .content-wrapper .card .card-body .page-item.active .page-link {
          background-color: #47b68b;
          color: #fff; }
        .wrapper-dashboard .content-wrapper .card .card-body button {
          text-transform: capitalize; }
          .wrapper-dashboard .content-wrapper .card .card-body button.btn {
            background-color: #fff;
            border-radius: 0;
            border: 0;
            font-size: 13px;
            width: 100%;
            color: red;
            text-align: left; }
        .wrapper-dashboard .content-wrapper .card .card-body .dropdown-toggle {
          position: relative; }
          .wrapper-dashboard .content-wrapper .card .card-body .dropdown-toggle::after {
            right: 0;
            position: absolute;
            top: 45%;
            color: #4D4D4D; }
        .wrapper-dashboard .content-wrapper .card .card-body .item-agendado {
          color: #1B694B; }
        .wrapper-dashboard .content-wrapper .card .card-body .item-disponible {
          color: #7F095C; }
        .wrapper-dashboard .content-wrapper .card .card-body .item-finalizado {
          color: #153363; }
        .wrapper-dashboard .content-wrapper .card .card-body .item-cancelado {
          color: #D60707; }
        .wrapper-dashboard .content-wrapper .card .card-body .content-additional-schedule span {
          cursor: pointer;
          padding: .5rem 1rem;
          border: 1px solid #47b68b;
          color: #47b68b;
          margin-right: 1rem;
          display: inline-block;
          -webkit-transition: all 500ms ease;
          -moz-transition: all 500ms ease;
          -ms-transition: all 500ms ease;
          -o-transition: all 500ms ease;
          transition: all 500ms ease;
          font-size: .8rem;
          line-height: .9rem;
          text-align: center; }
          .wrapper-dashboard .content-wrapper .card .card-body .content-additional-schedule span:last-child {
            margin-right: 0; }
          .wrapper-dashboard .content-wrapper .card .card-body .content-additional-schedule span:hover, .wrapper-dashboard .content-wrapper .card .card-body .content-additional-schedule span:focus, .wrapper-dashboard .content-wrapper .card .card-body .content-additional-schedule span:active, .wrapper-dashboard .content-wrapper .card .card-body .content-additional-schedule span.active {
            color: #fff;
            background: #47b68b; }
          .wrapper-dashboard .content-wrapper .card .card-body .content-additional-schedule span.btn-additional-hora.active, .wrapper-dashboard .content-wrapper .card .card-body .content-additional-schedule span.btn-hour.active {
            color: #fff;
            background: #47b68b; }
        .wrapper-dashboard .content-wrapper .card .card-body .content-additional-schedule a {
          padding: .75rem 1.5rem;
          cursor: pointer;
          border: 1px solid #47b68b;
          color: #47b68b;
          margin-right: 1rem;
          -webkit-transition: all 500ms ease;
          -moz-transition: all 500ms ease;
          -ms-transition: all 500ms ease;
          -o-transition: all 500ms ease;
          transition: all 500ms ease;
          font-size: .8rem;
          line-height: .9rem;
          text-align: center;
          float: right;
          text-transform: uppercase;
          border-radius: 10px; }
          .wrapper-dashboard .content-wrapper .card .card-body .content-additional-schedule a:hover, .wrapper-dashboard .content-wrapper .card .card-body .content-additional-schedule a:focus, .wrapper-dashboard .content-wrapper .card .card-body .content-additional-schedule a:active, .wrapper-dashboard .content-wrapper .card .card-body .content-additional-schedule a.active {
            color: #fff;
            background: #47b68b; }
        .wrapper-dashboard .content-wrapper .card .card-body .content-additional-schedule .form-group {
          display: inline-block;
          width: 100%;
          margin-right: .9rem; }
          .wrapper-dashboard .content-wrapper .card .card-body .content-additional-schedule .form-group .form-control {
            width: 100%;
            border: 0;
            border: 1px solid #47b68b;
            color: #47b68b;
            border-radius: 0; }
      .wrapper-dashboard .content-wrapper .card .card-body-avatar {
        padding: 1rem; }
        .wrapper-dashboard .content-wrapper .card .card-body-avatar .img-avatar {
          float: left; }
          .wrapper-dashboard .content-wrapper .card .card-body-avatar .img-avatar img {
            width: 90px;
            height: 90px;
            border-radius: 50%; }
        .wrapper-dashboard .content-wrapper .card .card-body-avatar .info-avatar {
          float: left;
          margin-left: 1rem;
          display: block; }
          .wrapper-dashboard .content-wrapper .card .card-body-avatar .info-avatar h4 {
            color: #47b68b;
            font-weight: 600;
            font-size: 22px; }
          .wrapper-dashboard .content-wrapper .card .card-body-avatar .info-avatar p {
            color: #757575;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: .1rem; }

@media only screen and (max-width: 1280px) {
  .wrapper-dashboard .content-wrapper .card .card-body {
    padding: 1rem; }
    .wrapper-dashboard .content-wrapper .card .card-body .title-day {
      font-size: 20px; }
    .wrapper-dashboard .content-wrapper .card .card-body .title-hour {
      font-size: 20px; }
    .wrapper-dashboard .content-wrapper .card .card-body .bootstrap-datetimepicker-widget table td,
    .wrapper-dashboard .content-wrapper .card .card-body .wrapper-dashboard .content-wrapper .card .card-body .bootstrap-datetimepicker-widget table th {
      padding: .4rem 0; }
  .wrapper-dashboard .content-wrapper .card .content-additional-schedule a {
    margin: 1rem 0 0 !important; } }

@media only screen and (max-width: 425px) {
  .wrap-princ .card-login .box-selector {
    padding: 1rem; }
    .wrap-princ .card-login .box-selector .content-additional-services ul li {
      width: 45%;
      margin-bottom: .75rem; }
      .wrap-princ .card-login .box-selector .content-additional-services ul li span {
        width: 100%; }
    .wrap-princ .card-login .box-selector .content-additional-schedule .form-group {
      width: 100%; } }
