.voyager .pagination .active span, .voyager .pagination .active>a, .voyager .pagination .active>a:focus, .voyager .pagination .active>a:hover, .voyager .pagination .active>span:focus, .voyager .pagination .active>span:hover{
    background-color: #3ab68f;
    border-color: #3ab68f;
}
.voyager .navbar .navbar-nav>li:hover>a, .voyager .navbar.navbar-default .navbar-nav>li:hover>a{
    color: #3ab68f;
}
.panel-primary>.panel-heading{
    background-color: #3ab68f;
    border-color: #3ab68f;
}
.wrapper-dashboard .navbar-sidenav .sidebar-info .name-sidebar-info img {
  width: 168px;
  height: auto;
}
.wrap-princ .card-login .content-info-login .box-login form .input-text,
.wrap-princ .card-login .content-info-login .box-login form input[type="text"] {
  padding: 13px 22px;
  font-size: 14px;
  border: 1px solid #E0E3E5;
  background-color: transparent;
}
.wrap-princ .card-login .content-info-login .box-login form .input-text::-webkit-input-placeholder,
.wrap-princ .card-login .content-info-login .box-login form input[type="text"]::-webkit-input-placeholder {
  color: #929699;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
}
.wrap-princ .card-login .content-info-login .box-login form .input-text::-moz-placeholder,
.wrap-princ .card-login .content-info-login .box-login form input[type="text"]::-moz-placeholder {
  color: #929699;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
}
.wrap-princ .card-login .content-info-login .box-login form .input-text:-ms-input-placeholder,
.wrap-princ .card-login .content-info-login .box-login form input[type="text"]:-ms-input-placeholder {
  color: #929699;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
}
.wrap-princ .card-login .content-info-login .box-login form .input-text:-moz-placeholder,
.wrap-princ .card-login .content-info-login .box-login form input[type="text"]:-moz-placeholder {
  color: #929699;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
}
.wrap-princ .card-login .content-info-login .box-login form .form-group input {
  width: 100%;
  color: #929699;
  background-color: #fff;
  border: 1px solid #ced4da;
  padding: .75rem 1rem;
  border: 1px solid #E0E3E5;
}
.wrap-princ .card-login .content-info-login .box-login form .form-group input::-webkit-input-placeholder {
  color: #929699;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
}
.wrap-princ .card-login .content-info-login .box-login form .form-group input::-moz-placeholder {
  color: #929699;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
}
.wrap-princ .card-login .content-info-login .box-login form .form-group input:-ms-input-placeholder {
  color: #929699;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
}
.wrap-princ .card-login .content-info-login .box-login form .form-group input:-moz-placeholder {
  color: #929699;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
}

.voyager .table>thead>tr>th {
  background: #fff;
}
.voyager .btn.btn-danger, .voyager .btn.btn-success, .voyager .btn.btn-warning{
  background: #47b68b !important;
}
.datepicker {
  font-size: 90%;
}