@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900);

.nav-dash li.dropdown{
display:none;
}
.nav-dash .navbar-nav li:last-child{
display:none;
}
.wrap-princ .card-login .box-selector .content-additional-services ul li span{
  max-width: 140px;
}
.wrapper-dashboard .navbar-sidenav{
  overflow-y: scroll;
}
#phoneInput{
  position: relative;
  padding-left: 50px;
}
span.placephone{
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #47b68b;
  position: absolute;
  top: 0;
  left: 20px;
}
.datepick_actual_am .prev,
.datepick_actual_am .datepicker-switch,
.datepick_actual_am .next,
.datepick_actual_pm .prev,
.datepick_actual_pm .datepicker-switch,
.datepick_actual_pm .next,
.datepick_next_am .prev,
.datepick_next_am .datepicker-switch,
.datepick_next_am .next,
.datepick_next_pm .prev,
.datepick_next_pm .datepicker-switch,
.datepick_next_pm .next
{
  display: none;
}
label.error{
  color: gray;
  font-size: 65%;
}
.toast.toast-error{
  background: #3D8368;
}
#header-wrap{
    margin-bottom:3rem
}
.workingMonths{
  margin-top: 40px
}
.workingMonths h3{
  background: #47b68b;
  color: white;
  padding: 8px;
  font-size: 17px;
  margin: 0;
}
.workingMonths h4{
  background: #399572;
  color: white;
  padding: 8px;
  font-size: 13px;
  margin: 0;
}
.workingMonths .datepicker{
  margin: 40px auto;
}
.disabled-box{
  position: absolute;
  width: 100%;
  height: 115%;
  display: block;
  background: rgba(255,255,255,0.4);
  left: 0;
  top: 0;
  z-index: 1;
}
.content-building, .content-services, .content-additional-services, .content-additional-schedule, .content-additional-data, .content-rooms{
  position: relative !important;
}
.wrap-princ{
    font-family:Roboto,sans-serif
}
.wrap-princ .tooltip-inner{
    background-color:#0c0
}
.wrap-princ .tooltip.bs-tooltip-bottom .arrow:before,.wrap-princ .tooltip.bs-tooltip-left .arrow:before,.wrap-princ .tooltip.bs-tooltip-right .arrow:before,.wrap-princ .tooltip.bs-tooltip-top .arrow:before{
    border-right-color:#0c0!important
}
.wrap-princ .breadcrumb{
    margin:0 0 1rem;
    background:#fff
}
.wrap-princ .breadcrumb .breadcrumb-item{
    color:#414141;
    font-size:14px
}
.wrap-princ .breadcrumb .breadcrumb-item a{
    color:#7C7C7C
}
.wrap-princ .card-login{
    -webkit-box-shadow:0 0 50px 0 rgba(0,0,0,.1);
    box-shadow:0 0 50px 0 rgba(0,0,0,.1);
    margin:0 0 3rem;
    border-radius:10px;
    overflow:hidden
}
.wrap-princ .card-login .content-bg-login{
    background:url(../images/bg-login.jpg) top center no-repeat;
    background-size:cover;
    width:100%;
    height:100%
}
.wrap-princ .card-login .content-info-login{
    padding:6rem 4rem
}
.wrap-princ .card-login .content-info-login .box-login form{
    margin-bottom:2rem;
    display:block;
    padding-bottom:2rem
}
.wrap-princ .card-login .content-info-login .box-login form .form-group input{
    width:100%;
    color:#929699;
    background-color:#fff;
    padding:.75rem 1rem;
    border:1px solid #E0E3E5
}
.wrap-princ .card-login .content-info-login .box-login form .form-group input::-webkit-input-placeholder{
    color:#929699;
    font-family:Roboto,sans-serif;
    font-size:14px;
    font-style:normal
}
.wrap-princ .card-login .content-info-login .box-login form .form-group input::-moz-placeholder{
    color:#929699;
    font-family:Roboto,sans-serif;
    font-size:14px;
    font-style:normal
}
.wrap-princ .card-login .content-info-login .box-login form .form-group input:-ms-input-placeholder{
    color:#929699;
    font-family:Roboto,sans-serif;
    font-size:14px;
    font-style:normal
}
.wrap-princ .card-login .content-info-login .box-login form .form-group input:-moz-placeholder{
    color:#929699;
    font-family:Roboto,sans-serif;
    font-size:14px;
    font-style:normal
}
.wrap-princ .card-login .content-info-login .box-login form .form-check{
    display:inline-block;
    margin-top:.75rem;
    cursor:pointer
}
.wrap-princ .card-login .content-info-login .box-login form .input-group{
    margin-bottom:2rem
}
.wrap-princ .card-login .content-info-login .box-login form .input-group-text{
    color:#D1D1D1;
    background-color:#fff;
    padding:.75rem 1rem;
    border:1px solid #E0E3E5
}
.wrap-princ .card-login .content-info-login .box-login form .input-text,.wrap-princ .card-login .content-info-login .box-login form input[type=text],.wrap-princ .card-login .content-info-login .box-login form input[type=password]{
    padding:13px 22px;
    font-size:14px;
    border:1px solid #E0E3E5;
    background-color:transparent
}
.wrap-princ .card-login .content-info-login .box-login form .input-text::-webkit-input-placeholder,.wrap-princ .card-login .content-info-login .box-login form input[type=text]::-webkit-input-placeholder,.wrap-princ .card-login .content-info-login .box-login form input[type=password]::-webkit-input-placeholder{
    color:#929699;
    font-family:Roboto,sans-serif;
    font-size:14px;
    font-style:normal
}
.wrap-princ .card-login .content-info-login .box-login form .input-text::-moz-placeholder,.wrap-princ .card-login .content-info-login .box-login form input[type=text]::-moz-placeholder,.wrap-princ .card-login .content-info-login .box-login form input[type=password]::-moz-placeholder{
    color:#929699;
    font-family:Roboto,sans-serif;
    font-size:14px;
    font-style:normal
}
.wrap-princ .card-login .content-info-login .box-login form .input-text:-ms-input-placeholder,.wrap-princ .card-login .content-info-login .box-login form input[type=text]:-ms-input-placeholder,.wrap-princ .card-login .content-info-login .box-login form input[type=password]:-ms-input-placeholder{
    color:#929699;
    font-family:Roboto,sans-serif;
    font-size:14px;
    font-style:normal
}
.wrap-princ .card-login .content-info-login .box-login form .input-text:-moz-placeholder,.wrap-princ .card-login .content-info-login .box-login form input[type=text]:-moz-placeholder,.wrap-princ .card-login .content-info-login .box-login form input[type=password]:-moz-placeholder{
    color:#929699;
    font-family:Roboto,sans-serif;
    font-size:14px;
    font-style:normal
}
.wrap-princ .card-login .content-info-login .box-login form .btn{
    background-color:#47b68b;
    border:1px solid #47b68b;
    padding:.5rem 2rem
}
.wrap-princ .card-login .content-info-login .box-login .login-rrss{
    padding:0 2rem
}
.wrap-princ .card-login .content-info-login .box-login .login-rrss .btn-login-rrss{
    display:block;
    padding:.75rem;
    text-transform:uppercase;
    color:#fff;
    margin-bottom:2rem;
    border-radius:.25rem
}
.wrap-princ .card-login .content-info-login .box-login .login-rrss .btn-login-rrss:last-child{
    margin-bottom:0
}
.wrap-princ .card-login .content-info-login .box-login .login-rrss .btn-login-rrss:hover{
    text-decoration:none
}
.wrap-princ .card-login .content-info-login .box-login .login-rrss .btn-login-facebook{
    background:#3B5998
}
.wrap-princ .card-login .content-info-login .box-login .login-rrss .btn-login-google{
    background:#F44336
}
.wrap-princ .card-login .content-info-login .box-login .separator-login{
    color:#929699;
    font-size:14px;
    position:relative;
    margin-bottom:2rem
}
.wrap-princ .card-login .content-info-login .box-login .separator-login::before{
    content:'';
    background:#E7E7E7;
    height:1px;
    width:180px;
    position:absolute;
    display:block;
    top:50%;
    left:0
}
.wrap-princ .card-login .content-info-login .box-login .separator-login::after{
    content:'';
    background:#E7E7E7;
    height:1px;
    width:180px;
    position:absolute;
    display:block;
    top:50%;
    right:0
}
.wrap-princ .card-login .content-info-login .box-login .btn-register{
    background:#BABABA;
    padding:.75rem 4rem;
    color:#fff;
    text-transform:uppercase;
    font-weight:400
}
.modal-edit .btn,.wrapper-dashboard .content-wrapper .card .card-body button{
    text-transform:capitalize
}
.wrap-princ .card-login .box-selector{
    padding: 2rem 4rem 2rem 4rem;
    color:#666;
    min-height:800px
}
.wrap-princ .card-login .box-selector h4{
    font-size:16px;
    font-weight:400;
    margin-bottom:1.3rem
}
.wrap-princ .card-login .box-selector .content-building{
    margin-bottom:2rem
}
.wrap-princ .card-login .box-selector .content-building p{
    font-size:12px;
    margin-bottom:1.1rem
}
.wrap-princ .card-login .box-selector .content-building .btn-building{
    cursor:pointer;
    padding:.5rem 2.5rem;
    border:1px solid #47b68b;
    color:#47b68b;
    margin-right:1rem;
    -webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
    -ms-transition:all .5s ease;
    -o-transition:all .5s ease;
    transition:all .5s ease;
    font-size:1.2rem
}
.wrap-princ .card-login .box-selector .content-building .btn-building:last-child{
    margin-right:0
}
.wrap-princ .card-login .box-selector .content-building .btn-building.active,.wrap-princ .card-login .box-selector .content-building .btn-building:active,.wrap-princ .card-login .box-selector .content-building .btn-building:focus,.wrap-princ .card-login .box-selector .content-building .btn-building:hover{
    color:#fff;
    background:#47b68b
}
.wrap-princ .card-login .box-selector .content-services{
    margin-bottom:0rem
}
.wrap-princ .card-login .box-selector .content-services p{
    font-size:12px;
    margin-bottom:1.1rem
}
.wrap-princ .card-login .box-selector .content-services .content-services-btn{
    width:120px;
    display:inline-block;
    text-align:center;
    margin-right:1rem
}
.wrap-princ .card-login .box-selector .content-services .content-services-btn:last-child{
    margin-right:0
}
.wrap-princ .card-login .box-selector .content-services .content-services-btn .btn-building,.wrap-princ .card-login .box-selector .content-services .content-services-btn .btn-services-vidrios{
    cursor:pointer;
    padding:.5rem .2rem;
    border:1px solid #47b68b;
    color:#47b68b;
    width:100%;
    display:block;
    -webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
    -ms-transition:all .5s ease;
    -o-transition:all .5s ease;
    transition:all .5s ease;
    font-size:.75rem;
    line-height:.9rem;
    text-align:center
}
.wrap-princ .card-login .box-selector .content-services .content-services-btn .btn-building.active,.wrap-princ .card-login .box-selector .content-services .content-services-btn .btn-building:active,.wrap-princ .card-login .box-selector .content-services .content-services-btn .btn-building:focus,.wrap-princ .card-login .box-selector .content-services .content-services-btn .btn-building:hover,.wrap-princ .card-login .box-selector .content-services .content-services-btn .btn-services-vidrios:active,.wrap-princ .card-login .box-selector .content-services .content-services-btn .btn-services-vidrios:focus,.wrap-princ .card-login .box-selector .content-services .content-services-btn .btn-services-vidrios:hover{
    color:#fff;
    background:#47b68b
}
.wrap-princ .card-login .box-selector .content-services .content-services-btn .link-detalle{
    padding:0;
    border:0;
    color:#939393;
    font-weight:300;
    cursor:pointer;
    margin-bottom:1rem
}
.wrap-princ .card-login .box-selector .content-services .content-services-btn .link-detalle:active,.wrap-princ .card-login .box-selector .content-services .content-services-btn .link-detalle:focus,.wrap-princ .card-login .box-selector .content-services .content-services-btn .link-detalle:hover{
    background:0 0;
    border:0
}
/* .wrap-princ .card-login .box-selector .content-rooms{
    float:left
} */
.wrap-princ .card-login .box-selector .content-rooms .dropdown .btn:not(:disabled):not(.disabled){
    background: white;
    border-bottom: 1px solid #47b68b;
    color: #47b68b;
    font-size: 26px;
    padding: 0;
    border-color: white;
}
.wrap-princ .card-login .box-selector .content-rooms .input-group{
    width:40%;
    float:left;
    margin-right:1rem;
    height:40px;
}
.first-rooms, .last-rooms {
  border-bottom: 1px solid #47b68b;
  color: #47b68b;
  font-size: 16px;
  padding: 0;
  border-color: white;
  text-indent: 50%; /* added by abel */
} 


.wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room .form-group label.cupon{
  font-size: 12px;
}
.wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room .btn.btn-sm{
  padding: 0.4rem 0.8rem;
  font-size: 12px;
  margin: 0.5rem;
}
.wrap-princ .card-login .box-selector .content-rooms .input-group input[type=number]{
    border:0;
    border:1px solid white;
    border-bottom:1px solid #47b68b;
    color:#47b68b;
    font-size:2rem;
    padding:0;
    text-align:center;
    background:#fff
}
.wrap-princ .card-login .box-selector .content-rooms .input-group-append{
    padding:0 .5rem;
    font-size:2rem;
    color:#47b68b
}
.wrap-princ .card-login .box-selector .content-additional-services p{
    display:inline-block
}
.wrap-princ .card-login .box-selector .content-additional-services .info-pasos-room-horno,.wrap-princ .card-login .box-selector .content-additional-services .info-pasos-room-plancha,.wrap-princ .card-login .box-selector .content-additional-services .info-pasos-room-refri{
    display:block
}
.wrap-princ .card-login .box-selector .content-additional-services .info-pasos-room-horno.disabled,.wrap-princ .card-login .box-selector .content-additional-services .info-pasos-room-plancha.disabled,.wrap-princ .card-login .box-selector .content-additional-services .info-pasos-room-refri.disabled{
    display:none
}
.wrap-princ .card-login .box-selector .content-additional-services .btn-secondary{
    padding:0;
    background:0 0;
    color:#47b68b;
    border:0;
    display:inline-block
}
.wrap-princ .card-login .box-selector .content-additional-services .content-btn-additional{
    display:block
}
.wrap-princ .card-login .box-selector .content-additional-services ul{
    padding:0;
    list-style-type:0;
    margin:0
}
.wrap-princ .card-login .box-selector .content-additional-services ul li{
    display:inline-block;
}
.wrap-princ .card-login .box-selector .content-additional-services ul li a {
    cursor: pointer;
    padding: .5rem 1rem;
    border: 1px solid #47b68b;
    color: #47b68b;
    margin-right: 1rem;
    display: inline-block;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    font-size: .8rem;
    line-height: .9rem;
    text-align: center;
}
.wrap-princ .card-login .box-selector .content-additional-services ul li a:hover, .wrap-princ .card-login .box-selector .content-additional-services ul li a:focus, .wrap-princ .card-login .box-selector .content-additional-services ul li a:active, .wrap-princ .card-login .box-selector .content-additional-services ul li a.active {
    color: #fff;
    background: #47b68b;
}
.wrap-princ .card-login .box-selector .content-additional-services ul li a:last-child {
    margin-right: 0;
}
.wrap-princ .card-login .box-selector .content-additional-services ul li span.active,.wrap-princ .card-login .box-selector .content-additional-services ul li span.btn-additional-hora.active,.wrap-princ .card-login .box-selector .content-additional-services ul li span.btn-hour.active,.wrap-princ .card-login .box-selector .content-additional-services ul li span:active,.wrap-princ .card-login .box-selector .content-additional-services ul li span:focus,
.wrap-princ .card-login .box-selector .content-additional-services ul li span:hover{
    color:#fff;
    background:#47b68b
}
.wrap-princ .card-login .box-selector .content-additional-schedule .content-btn-hour {
    display: inline-block;
}
.wrap-princ .card-login .box-selector .content-additional-services ul li span.btn-additional-disabled{
    opacity:.5;
    cursor:default;
    border:1px solid #777;
    color:#777
}
.wrap-princ .card-login .box-selector .content-additional-services ul li span.btn-additional-disabled:active,.wrap-princ .card-login .box-selector .content-additional-services ul li span.btn-additional-disabled:focus,.wrap-princ .card-login .box-selector .content-additional-services ul li span.btn-additional-disabled:hover{
    border:1px solid #777;
    color:#777;
    background:#fff
}
.wrap-princ .card-login .box-selector .content-additional-schedule .content-btn-hour .btn-hour {
    cursor: pointer;
    padding: .5rem 0.75rem;
    border: 1px solid #47b68b;
    color: #47b68b;
    margin-right: 0.5rem;
    display: inline-block;
    max-width: 150px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    font-size: .8rem;
}

.wrap-princ .card-login .box-selector .content-additional-schedule{
    margin-top:1rem
}
.wrap-princ .card-login .box-selector .content-additional-schedule p{
    display:block
}
.wrap-princ .card-login .box-selector .content-additional-schedule .btn-secondary{
    padding:0;
    background:0 0;
    color:#47b68b;
    border:0;
    display:inline-block
}
.wrap-princ .card-login .box-selector .content-additional-schedule .form-group{
    display:inline-block;
    width:50%;
    margin-right:.9rem;
    height:40px
}
.wrap-princ .card-login .box-selector .content-additional-schedule .form-group .form-control{
    width:100%;
    border:0;
    border-bottom:1px solid #47b68b;
    color:#47b68b;
    border-radius:0;
    background:#fff
}
.wrap-princ .card-login .box-selector .content-additional-schedule .content-btn-additional{
    display:block
}
.wrap-princ .card-login .box-selector .content-additional-schedule ul{
    padding:0;
    list-style-type:0;
    margin:0
}
.wrap-princ .card-login .box-selector .content-additional-schedule ul li{
    display:inline-block
}
.wrap-princ .card-login .box-selector .content-additional-schedule ul li span{
    cursor:pointer;
    padding:.5rem 1rem;
    border:1px solid #47b68b;
    color:#47b68b;
    margin-right:1rem;
    display:inline-block;
    -webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
    -ms-transition:all .5s ease;
    -o-transition:all .5s ease;
    transition:all .5s ease;
    font-size:.8rem;
    line-height:.9rem;
    text-align:center
}
.wrap-princ .card-login .box-selector .content-additional-schedule ul li span:last-child{
    margin-right:0
}
.wrap-princ .card-login .box-selector .content-additional-schedule ul li span.active,.wrap-princ .card-login .box-selector .content-additional-schedule ul li span.btn-additional-hora.active,.wrap-princ .card-login .box-selector .content-additional-schedule ul li span.btn-additional-other.active,.wrap-princ .card-login .box-selector .content-additional-schedule ul li span:active,.wrap-princ .card-login .box-selector .content-additional-schedule ul li span:focus,.wrap-princ .card-login .box-selector .content-additional-schedule ul li span:hover{
    color:#fff;
    background:#47b68b
}
.wrap-princ .card-login .box-selector .content-additional-schedule .btn-building{
    cursor:pointer;
    padding:.5rem 1rem;
    border:1px solid #47b68b;
    color:#47b68b;
    margin-right:1rem;
    display:inline-block;
    max-width:150px;
    -webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
    -ms-transition:all .5s ease;
    -o-transition:all .5s ease;
    transition:all .5s ease;
    font-size:.8rem
}
.wrap-princ .card-login .box-selector .content-additional-schedule .btn-building:last-child{
    margin-right:0
}
.wrap-princ .card-login .box-selector .content-additional-schedule .btn-building.active,.wrap-princ .card-login .box-selector .content-additional-schedule .btn-building:active,.wrap-princ .card-login .box-selector .content-additional-schedule .btn-building:focus,.wrap-princ .card-login .box-selector .content-additional-schedule .btn-building:hover{
    color:#fff;
    background:#47b68b
}

.wrap-princ .card-login .box-selector .content-additional-schedule .btn-building.btn-add{
    padding: 0;
    height: 30px;
    background: #47b68b;
    color: white;
    text-align: center;
    width: 30px;
    margin: 0;
    line-height: 26px;
    margin-right: 4px;
}

.wrap-princ .card-login .box-selector .content-additional-data{
    margin-top:1rem
}
.wrap-princ .card-login .box-selector .content-additional-data p{
    display:inline-block
}
.wrap-princ .card-login .box-selector .content-additional-data .form-control{
    width:100%!important;
    border:0;
    border-bottom:1px solid #47b68b;
    color:#47b68b;
    border-radius:0;
    font-size:12px;
    background:#fff;
    height:40px
}
.wrap-princ .card-login .box-selector .content-additional-data .form-control::-webkit-input-placeholder{
    color:#47b68b;
    font-family:Roboto,sans-serif;
    font-size:12px;
    font-style:normal
}
.wrap-princ .card-login .box-selector .content-additional-data .form-control::-moz-placeholder{
    color:#47b68b;
    font-family:Roboto,sans-serif;
    font-size:12px;
    font-style:normal
}
.wrap-princ .card-login .box-selector .content-additional-data .form-control:-ms-input-placeholder{
    color:#47b68b;
    font-family:Roboto,sans-serif;
    font-size:12px;
    font-style:normal
}
.wrap-princ .card-login .box-selector .content-additional-data .form-control:-moz-placeholder{
    color:#47b68b;
    font-family:Roboto,sans-serif;
    font-size:12px;
    font-style:normal
}
.wrap-princ .card-login .box-selector-green{
    padding:3rem 2rem 3rem 2rem;
    background:#47b68b;
    color:#fff;
    counter-reset:section
}
.wrap-princ .card-login .box-selector-green .content-paso{
    margin-bottom:2rem;
    padding-left:1rem;
    position:relative
}
.wrap-princ .card-login .box-selector-green .content-paso::before{
    counter-increment:section;
    /* content:"0" counter(section) "."; */
    content: "*";
    position:absolute;
    left:-5px;
    top:2px;
    font-size:20px;
    font-weight:400;
    color:#3D8368
}
.wrap-princ .card-login .box-selector-green .content-paso::after{
    background:#3D8368;
    color:#fff;
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    font-size:18px;
    position:absolute;
    left:-70px;
    top:-10px;
    padding:.5rem 0 0;
    text-align:center;
    border-radius:50px;
    width:38px;
    height:38px
}
/* .wrap-princ .card-login .box-selector-green .content-paso:nth-child(1)::after{
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    content:"\f015";
    position:absolute
} */
.wrap-princ .card-login .box-selector-green .content-paso:nth-child(2)::after{
    font-family:"Font Awesome 5 Free";
    font-weight:400;
    content:"\f017";
    position:absolute
}
.wrap-princ .card-login .box-selector-green .content-paso:nth-child(3)::after{
    font-family:"Font Awesome 5 Free";
    font-weight:400;
    content:"\f328";
    position:absolute
}
.wrap-princ .card-login .box-selector-green .content-paso:nth-child(4)::after{
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    content:"\f155";
    position:absolute
}
.wrap-princ .card-login .box-selector-green .content-paso h3{
    font-size:20px;
    font-weight:500
}
.wrap-princ .card-login .box-selector-green .content-paso p{
    font-size:14px;
    font-weight:300
}
.wrap-princ .card-login .box-selector-green .content-paso.disabled,.wrap-princ .card-login .box-selector-green .content-paso.disabled::before{
    color:#49A07E
}
.wrap-princ .card-login .box-selector-green .content-paso.disabled::after{
    background:#49A07E;
    color:#388E6D
}
.wrap-princ .card-login .box-selector-green .content-info-pasos{
    border-bottom:1px solid rgba(204,204,204,.36);
    padding:1rem 0 1.1rem;
    float:left
}
.wrap-princ .card-login .box-selector-green .content-info-pasos .info-pasos-room{
    float:left;
    margin-right:1.2rem;
    font-size:30px;
    display:block
}
.wrap-princ .card-login .box-selector-green .content-info-pasos .info-pasos-room.disabled{
    display:none
}
.wrap-princ .card-login .box-selector-green .content-info-pasos .info-pasos-room p{
    margin-bottom:.5rem
}
.wrap-princ .card-login .box-selector-green .content-additional-pasos{
    padding:1rem 0 1.1rem;
    float:left
}
.wrap-princ .card-login .box-selector-green .content-additional-pasos h5{
    font-size:14px;
    font-weight:400;
    display:block
}
.wrap-princ .card-login .box-selector-green .content-additional-pasos h5.disabled{
    display:none
}
.wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room{
    float:left;
    font-size:30px;
    display:block;
    padding-bottom: 10px;
}
.wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room.disabled{
    display:none
}
.wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room span{
    font-weight:300;
    font-size:12px;
    margin-bottom:.5rem;
    display:block
}
.wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room span.text-total{
    font-weight:500;
    font-size:18px;
    margin-top:1.5rem;
    display:block
}
.wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room span.text-total.disabled{
    display:none
}
.wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room span.valor-total{
    font-weight:700;
    font-size:30px;
    display:block
}
.wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room span.valor-total.disabled{
    display:none
}
.wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room p{
    margin-bottom:.5rem;
    font-weight:500;
    font-size:19px
}
.wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room .form-check{
    width:100%;
    margin:1rem 0;
    color:#fff;
    display:block
}
.wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room .form-check.disabled{
    display:none
}
.wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room .form-check label{
    color:#fff;
    display:inline-block
}
.wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room .btn{
    float:right;
    margin:1rem 0 2rem;
    border:1px solid #fff;
    color:#47b68b;
    border-radius:10px;
    background:#fff;
    padding:.5rem 4rem;
    -webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
    -ms-transition:all .5s ease;
    -o-transition:all .5s ease;
    transition:all .5s ease;
    display:block
}
.wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room .btn.disabled{
    display:none
}
.wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room .btn:last-child{
    margin-right:0
}
.wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room .btn.active,.wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room .btn:active,.wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room .btn:focus,.wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room .btn:hover{
    color:#47b68b;
    background:#fff
}
.wrap-princ .card-login .box-selector .content-additional-data textarea,.wrap-princ .card-login .box-selector .content-register textarea{
    resize:none
}
.wrap-princ .card-login .box-selector .content-additional-services ul li span{
    cursor:pointer;
    padding:.9rem 1rem;
    border:1px solid #47b68b;
    color:#47b68b;
    margin-right:1rem;
    display:inline-block;
    -webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
    -ms-transition:all .5s ease;
    -o-transition:all .5s ease;
    transition:all .5s ease;
    font-size:.8rem;
    line-height:.9rem;
    text-align:center;
    margin-bottom: 1rem;
}
.modal-services{
    color:#606060
}
.modal-services .modal-dialog{
    max-width:600px
}
.modal-services .modal-content{
    border-radius:0;
    border:0
}
.modal-services .modal-header{
    border:0
}
.modal-services .modal-header .modal-title{
    font-size:16px;
    font-weight:700
}
.modal-services .modal-header .close{
    padding:.3rem 1rem;
    color:#606060;
    text-shadow:0 0 0 #606060;
    opacity:1
}
.modal-services .modal-header .close:hover{
    background:0 0
}
.modal-edit .form-control:active,.modal-edit .form-control:focus,.modal-edit .modal-header .close:hover{
    background:#fff
}
.modal-services .modal-body p{
    font-weight:400;
    font-size:12px
}
.modal-services .modal-body p a{
    font-weight:700;
    color:#606060;
    -webkit-transition:color .3s ease;
    -moz-transition:color .3s ease;
    -ms-transition:color .3s ease;
    -o-transition:color .3s ease;
    transition:color .3s ease
}
.modal-edit .btn,.wrapper-dashboard .navbar-sidenav .sidebar-info .btn-edit{
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
    cursor:pointer
}
.modal-services .modal-body p a:hover{
    text-decoration:none;
    color:#47b68b
}
.modal-services .modal-footer{
    padding:0 0 .2rem;
    border:0
}
.modal-edit .modal-content{
    border-radius:0;
    border:0
}
.modal-edit .modal-header{
    padding:.5rem 1rem;
    position:relative
}
.modal-edit .modal-header .close{
    padding:.5rem;
    position:absolute;
    right:20px;
    top:20px;
    text-shadow:0 0 0 transparent;
    color:#47b68b;
    opacity:1
}
.modal-edit input[type=email]:focus,.modal-edit input[type=text]:focus,.modal-edit textarea:focus{
    border:0;
    border-bottom:1px solid #47b68b
}
.modal-edit .form-control{
    padding:.65rem .75rem!important;
    color:#47b68b;
    border-radius:0;
    font-size:14px;
    border:0;
    border-bottom:1px solid #47b68b;
    background:#fff
}
.modal-edit .form-control::-webkit-input-placeholder{
    color:#47b68b;
    font-family:Roboto,sans-serif;
    font-size:14px;
    font-style:normal
}
.modal-edit .form-control::-moz-placeholder{
    color:#47b68b;
    font-family:Roboto,sans-serif;
    font-size:14px;
    font-style:normal
}
.modal-edit .form-control:-ms-input-placeholder{
    color:#47b68b;
    font-family:Roboto,sans-serif;
    font-size:14px;
    font-style:normal
}
.modal-edit .form-control:-moz-placeholder{
    color:#47b68b;
    font-family:Roboto,sans-serif;
    font-size:14px;
    font-style:normal
}
.modal-edit .custom-file-label{
    border-radius:0;
    border:0;
    border-bottom:1px solid #47b68b;
    color:#47b68b;
    font-family:Roboto,sans-serif;
    font-weight:400;
    font-size:14px;
    text-transform:capitalize;
    cursor:pointer
}
.modal-edit .custom-file-label::after{
    padding:.375rem .75rem;
    line-height:1.5;
    color:#fff;
    content:"Archivo";
    background-color:#47b68b;
    border-left:0;
    border-radius:0;
    top:1px
}
.modal-edit .btn{
    color:#fff;
    padding:.5rem 2rem;
    border:1px solid #47b68b;
    background:#47b68b;
    border-radius:5px;
    transition:all .3s ease;
    font-size:.8rem;
    float:right
}
.modal-edit .btn:hover{
    color:#47b68b;
    background:#fff;
    text-decoration:none
}
.wrapper-dashboard{
    height:100%
}
.wrapper-dashboard .navbar-sidenav{
    width:270px;
    float:left;
    position:fixed
}
.wrapper-dashboard .navbar-sidenav .logo-dashboard{
    background:#47b68b;
    padding:1rem .5rem
}
.wrapper-dashboard .navbar-sidenav .logo-dashboard img{
    width:100%
}
.wrapper-dashboard .navbar-sidenav .sidebar-info{
    background:#399572;
    height:calc(100vh - 113px);
    padding:1rem;
    color:#fff
}
.wrapper-dashboard .navbar-sidenav .sidebar-info .name-sidebar-info{
    padding-bottom:1.2rem;
    margin-bottom:1.2rem;
    border-bottom:1px solid #D7D7D7;
    text-align:center
}
.wrapper-dashboard .navbar-sidenav .sidebar-info .name-sidebar-info img{
    margin:0 auto 1rem;
    border-radius:8px
}
.wrapper-dashboard .navbar-sidenav .sidebar-info .name-sidebar-info p{
    color:#fff;
    font-size:1.3rem;
    font-weight:300
}
.wrapper-dashboard .navbar-sidenav .sidebar-info .contact-sidebar-info ul{
    list-style-type:none;
    padding:0;
    margin:0
}
.wrapper-dashboard .navbar-sidenav .sidebar-info .contact-sidebar-info ul li{
    margin-bottom:1rem;
    display:block;
    font-weight:300
}
.wrapper-dashboard .navbar-sidenav .sidebar-info .contact-sidebar-info ul li strong{
    font-weight:400;
    float:right
}
.wrapper-dashboard .navbar-sidenav .sidebar-info .btn-edit{
    float:right;
    color:#fff;
    padding:.15rem 1rem;
    margin-top:1rem;
    border:1px solid #fff;
    border-radius:5px;
    transition:all .3s ease
}
.wrapper-dashboard .navbar-sidenav .sidebar-info .btn-singout,.wrapper-dashboard .navbar-sidenav .sidebar-info-clientes ul.nav-dash li a{
    display:block;
    font-size:1rem;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
    width:100%
}
.wrapper-dashboard .navbar-sidenav .sidebar-info .btn-edit:hover{
    color:#47b68b;
    background:#fff;
    text-decoration:none
}
.wrapper-dashboard .navbar-sidenav .sidebar-info .btn-singout{
    float:left;
    color:#fff;
    padding:.75rem 0;
    margin-top:1rem;
    border:1px solid #fff;
    border-radius:10px;
    text-align:center;
    transition:all .3s ease
}
.wrapper-dashboard .navbar-sidenav .sidebar-info .btn-singout:hover{
    color:#47b68b;
    background:#fff;
    text-decoration:none
}
.wrapper-dashboard .navbar-sidenav .sidebar-info-clientes{
    padding:0
}
.wrapper-dashboard .navbar-sidenav .sidebar-info-clientes ul.nav-dash{
    list-style-type:none;
    padding:0;
    margin:0
}
.wrapper-dashboard .navbar-sidenav .sidebar-info-clientes ul.nav-dash li a{
    color:#fff;
    padding:1rem;
    border-bottom:1px solid #fff;
    transition:all .3s ease
}
.wrapper-dashboard .navbar-sidenav .sidebar-info-clientes ul.nav-dash li a i{
    margin-right:.5rem
}
.wrapper-dashboard .navbar-sidenav .sidebar-info-clientes ul.nav-dash li a.active,.wrapper-dashboard .navbar-sidenav .sidebar-info-clientes ul.nav-dash li a:hover{
    background:#fff;
    color:#47b68b;
    text-decoration:none
}
.wrapper-dashboard .content-wrapper{
    margin-left:270px;
    padding:1.5rem 0 0;
    height:100%;
    position:relative
}
.wrapper-dashboard .content-wrapper .wrapper-footer{
    color:#353d4d;
    margin-bottom:0;
    line-height:38px;
    font-weight:700;
    text-align:center;
    font-size:11px;
    padding:.75rem 0;
    border-top:1px solid rgba(0,0,0,.125)
}
.wrapper-dashboard .content-wrapper .wrapper-footer a{
    color:#353d4d;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
    transition:all .3s ease
}
.wrapper-dashboard .content-wrapper .wrapper-footer a:hover{
    text-decoration:none;
    color:#47b68b
}
.wrapper-dashboard .content-wrapper .card{
    margin-bottom:2rem;
    border-radius:0
}
.wrapper-dashboard .content-wrapper .card .card-header{
    background:#47b68b;
    border:0;
    border-radius:0;
    font-weight:400;
    color:#fff;
    font-size:1rem
}
.wrapper-dashboard .content-wrapper .card .card-header p{
    padding-top:.5rem
}
.wrapper-dashboard .content-wrapper .card .card-header form .input-group .form-control{
    padding:.2rem .75rem
}
.wrapper-dashboard .content-wrapper .card .card-header form .input-group input[type=text]{
    border:0;
    border-bottom:1px solid #fff;
    border-radius:0;
    color:#fff;
    background:#47b68b
}
.wrapper-dashboard .content-wrapper .card .card-header form .input-group input[type=text]::-webkit-input-placeholder{
    color:#fff;
    font-family:Roboto,sans-serif;
    font-size:14px;
    font-style:normal
}
.wrapper-dashboard .content-wrapper .card .card-header form .input-group input[type=text]::-moz-placeholder{
    color:#fff;
    font-family:Roboto,sans-serif;
    font-size:14px;
    font-style:normal
}
.wrapper-dashboard .content-wrapper .card .card-header form .input-group input[type=text]:-ms-input-placeholder{
    color:#fff;
    font-family:Roboto,sans-serif;
    font-size:14px;
    font-style:normal
}
.wrapper-dashboard .content-wrapper .card .card-header form .input-group input[type=text]:-moz-placeholder{
    color:#fff;
    font-family:Roboto,sans-serif;
    font-size:14px;
    font-style:normal
}
.wrapper-dashboard .content-wrapper .card .card-header form .input-group .btn{
    padding:0 .5rem;
    background-color:#47b68b;
    border-radius:0;
    border:0;
    border-bottom:1px solid #fff
}
.wrapper-dashboard .content-wrapper .card .card-header form .input-group .input-group-append{
    margin-left:-1px;
    position:absolute;
    right:0;
    top:-3px;
    z-index:99
}
.wrapper-dashboard .content-wrapper .card .card-body{
    padding:2.5rem
}
.wrapper-dashboard .content-wrapper .card .card-body .title-day{
    color:#47b68b;
    font-size:30px;
    font-weight:400
}
.wrapper-dashboard .content-wrapper .card .card-body .title-hour{
    color:#747575;
    font-size:30px;
    font-weight:400
}
.wrapper-dashboard .content-wrapper .card .card-body thead{
    border-bottom:1px solid #ccc
}
.wrapper-dashboard .content-wrapper .card .card-body .table td,.wrapper-dashboard .content-wrapper .card .card-body .table th{
    border:0
}
.wrapper-dashboard .content-wrapper .card .card-body .table td a{
    color:#47b68b;
    font-weight:600;
    text-decoration:none
}
.wrapper-dashboard .content-wrapper .card .card-body .table td a:hover{
    text-decoration:none
}
.wrapper-dashboard .content-wrapper .card .card-body .bootstrap-datetimepicker-widget table td,.wrapper-dashboard .content-wrapper .card .card-body .bootstrap-datetimepicker-widget table th{
    border-radius:0;
    padding:.75rem 0
}
.wrapper-dashboard .content-wrapper .card .card-body .bootstrap-datetimepicker-widget table td{
    background:#fff;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
    transition:all .3s ease
}
.wrapper-dashboard .content-wrapper .card .card-body .bootstrap-datetimepicker-widget table td.free-day{
    color:#888;
    background:#fff
}
.wrapper-dashboard .content-wrapper .card .card-body .bootstrap-datetimepicker-widget table td.selected-day,.wrapper-dashboard .content-wrapper .card .card-body .bootstrap-datetimepicker-widget table td:hover{
    color:#fff;
    background:#47b68b
}
.wrapper-dashboard .content-wrapper .card .card-body .bootstrap-datetimepicker-widget table td.active,.wrapper-dashboard .content-wrapper .card .card-body .bootstrap-datetimepicker-widget table td.active:hover{
    background-color:#47b68b;
    text-shadow:0 0 0 transparent
}
.wrapper-dashboard .content-wrapper .card .card-body .bootstrap-datetimepicker-widget a[data-action],.wrapper-dashboard .content-wrapper .card .card-body .bootstrap-datetimepicker-widget table td.today:before{
    display:none
}
.wrapper-dashboard .content-wrapper .card .card-body .bootstrap-datetimepicker-widget table td span.active{
    background:#47b68b
}
.wrapper-dashboard .content-wrapper .card .card-body .bootstrap-datetimepicker-widget table th{
    padding:.5rem 0;
    border:0
}
.wrapper-dashboard .content-wrapper .card .card-body .page-item:first-child .page-link,.wrapper-dashboard .content-wrapper .card .card-body .page-item:last-child .page-link{
    border-radius:0
}
.wrapper-dashboard .content-wrapper .card .card-body .page-item:first-child .page-link:hover,.wrapper-dashboard .content-wrapper .card .card-body .page-item:last-child .page-link:hover{
    background:#fff;
    color:#47b68b
}
.wrapper-dashboard .content-wrapper .card .card-body .page-link{
    border:0;
    color:#47b68b;
    font-family:Roboto,sans-serif;
    font-size:1rem;
    padding:.5rem .9rem;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
    transition:all .3s ease;
    margin:0 .1rem
}
.wrapper-dashboard .content-wrapper .card .card-body .page-item.active .page-link,.wrapper-dashboard .content-wrapper .card .card-body .page-link:hover{
    background-color:#47b68b;
    color:#fff
}
.wrapper-dashboard .content-wrapper .card .card-body button.btn{
    background-color:#fff;
    border-radius:0;
    border:0;
    font-size:13px;
    width:100%;
    color:red;
    text-align:left
}
.wrapper-dashboard .content-wrapper .card .card-body .dropdown-toggle{
    position:relative
}
.wrapper-dashboard .content-wrapper .card .card-body .dropdown-toggle::after{
    right:0;
    position:absolute;
    top:45%;
    color:#4D4D4D
}
.wrapper-dashboard .content-wrapper .card .card-body .item-agendado{
    color:#1B694B
}
.wrapper-dashboard .content-wrapper .card .card-body .item-disponible{
    color:#7F095C
}
.wrapper-dashboard .content-wrapper .card .card-body .item-finalizado{
    color:#153363
}
.wrapper-dashboard .content-wrapper .card .card-body .item-cancelado{
    color:#D60707
}
.wrapper-dashboard .content-wrapper .card .card-body .content-additional-schedule span{
    cursor:pointer;
    padding:.5rem 1rem;
    border:1px solid #47b68b;
    color:#47b68b;
    margin-right:1rem;
    display:inline-block;
    -webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
    -ms-transition:all .5s ease;
    -o-transition:all .5s ease;
    transition:all .5s ease;
    font-size:.8rem;
    line-height:.9rem;
    text-align:center
}
.wrapper-dashboard .content-wrapper .card .card-body .content-additional-schedule span:last-child{
    margin-right:0
}
.wrapper-dashboard .content-wrapper .card .card-body .content-additional-schedule span.active,.wrapper-dashboard .content-wrapper .card .card-body .content-additional-schedule span.btn-additional-hora.active,.wrapper-dashboard .content-wrapper .card .card-body .content-additional-schedule span.btn-hour.active,.wrapper-dashboard .content-wrapper .card .card-body .content-additional-schedule span:active,.wrapper-dashboard .content-wrapper .card .card-body .content-additional-schedule span:focus,
.wrapper-dashboard .content-wrapper .card .card-body .content-additional-schedule span:hover{
    color:#fff;
    background:#47b68b
}
.wrapper-dashboard .content-wrapper .card .card-body .content-additional-schedule a{
    padding:.75rem 1.5rem;
    cursor:pointer;
    border:1px solid #47b68b;
    color:#47b68b;
    margin-right:1rem;
    -webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
    -ms-transition:all .5s ease;
    -o-transition:all .5s ease;
    transition:all .5s ease;
    font-size:.8rem;
    line-height:.9rem;
    text-align:center;
    float:right;
    text-transform:uppercase;
    border-radius:10px
}
.wrapper-dashboard .content-wrapper .card .card-body .content-additional-schedule a.active,.wrapper-dashboard .content-wrapper .card .card-body .content-additional-schedule a:active,.wrapper-dashboard .content-wrapper .card .card-body .content-additional-schedule a:focus,.wrapper-dashboard .content-wrapper .card .card-body .content-additional-schedule a:hover{
    color:#fff;
    background:#47b68b
}
.wrapper-dashboard .content-wrapper .card .card-body .content-additional-schedule .form-group{
    display:inline-block;
    width:100%;
    margin-right:.9rem
}
.wrapper-dashboard .content-wrapper .card .card-body .content-additional-schedule .form-group .form-control{
    width:100%;
    border:0;
    border:1px solid #47b68b;
    color:#47b68b;
    border-radius:0
}
.wrapper-dashboard .content-wrapper .card .card-body-avatar{
    padding:1rem
}
.wrapper-dashboard .content-wrapper .card .card-body-avatar .img-avatar{
    float:left
}
.wrapper-dashboard .content-wrapper .card .card-body-avatar .img-avatar img{
    width:90px;
    height:90px;
    border-radius:50%
}
.wrapper-dashboard .content-wrapper .card .card-body-avatar .info-avatar{
    float:left;
    margin-left:1rem;
    display:block
}
.wrapper-dashboard .content-wrapper .card .card-body-avatar .info-avatar h4{
    color:#47b68b;
    font-weight:600;
    font-size:22px
}
.wrapper-dashboard .content-wrapper .card .card-body-avatar .info-avatar p{
    color:#757575;
    font-size:14px;
    font-weight:400;
    margin-bottom:.1rem
}
.navbar-sidenav{
    background-color:#47b68b
}
.btn.btn-primary{
    background-color:#47b68b!important;
    color:#fff!important
}
.nav-dash .navbar-nav{
    list-style-type:none;
    padding:0;
    margin:20px 0 0 -15px;
    width:calc(100% + 30px)
}
.nav-dash .navbar-nav li{
    float:none!important
}
.nav-dash .navbar-nav li a:hover,.nav-dash .navbar-nav li.active a{
    background:#fff;
    color:#47b68b;
    text-decoration:none
}
.nav-dash .navbar-nav li a{
    color:#fff;
    padding:1rem;
    width:100%;
    display:block;
    font-size:1.2rem;
    border-bottom:1px solid #fff;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
    transition:all .3s ease
}
.voyager .table>thead>tr>th {
  border-bottom: 1px solid #ccc !important;
}
div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
    border: 0;
    border-bottom: 1px solid #47b68b;
    border-radius: 0;
    color: #47b68b;
    background: #ffffff;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  display: none;
}
table.dataTable thead>tr>th,
table.dataTable tbody td, table.dataTable tbody th {
    padding-left: 0;
}
table.dataTable.no-footer {
  border: 0
}
.wrap-princ .card-login .box-selector .content-additional-schedule .content-btn-hour .btn-hour:hover, .wrap-princ .card-login .box-selector .content-additional-schedule .content-btn-hour .btn-hour:focus, .wrap-princ .card-login .box-selector .content-additional-schedule .content-btn-hour .btn-hour:active, .wrap-princ .card-login .box-selector .content-additional-schedule .content-btn-hour .btn-hour.active {
    color: #fff;
    background: #47b68b;
}
.wrap-princ .card-login .box-selector .content-additional-schedule .content-btn-hour .btn-hour:hover, .wrap-princ .card-login .box-selector .content-additional-schedule .content-btn-hour .btn-hour:focus, .wrap-princ .card-login .box-selector .content-additional-schedule .content-btn-hour .btn-hour:active, .wrap-princ .card-login .box-selector .content-additional-schedule .content-btn-hour .btn-hour.active {
    color: #fff;
    background: #47b68b;
}
.wrap-princ .card-login .box-selector .content-additional-schedule .content-btn-hour .btn-hour.btn-additional-disabled {
    opacity: .5;
    cursor: default;
    border: 1px solid #777777;
    color: #777777;
    pointer-events: none;
}
.wrap-princ .card-login .box-selector .content-additional-schedule .content-btn-hour .btn-hour.btn-additional-disabled:hover, .wrap-princ .card-login .box-selector .content-additional-schedule .content-btn-hour .btn-hour.btn-additional-disabled:focus, .wrap-princ .card-login .box-selector .content-additional-schedule .content-btn-hour .btn-hour.btn-additional-disabled:active {
    border: 1px solid #777777;
    color: #777777;
    background: #ffffff;
}
.datepicker {
    font-size: 90%;
  }
.datepicker td, .datepicker th {
    border-radius: 0;
}
.datepicker table tr td.active.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active.disabled:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active:active, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover.active, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active:hover:active, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active[disabled] {
    background-color: #47b68b;
}
.datepicker table tr td.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover {
    background-image: none;
}
.login-link{
  color: #47b68b;
  font-size: 1rem;
}
.datepicker td.day{
  color: #dad3d3
}
.datepicker td.day{
  color: #47b68b;
}
.content-rooms .link-detalle{
  background: white !important;
  border: 0 !important;
  outline: 0 !important;
  padding: 11px 3px;
  cursor: pointer;
  color: #47b68b !important;
}
#comunaInput{
  text-transform: none !important;
  font-weight: normal !important;
}
.wrap-princ .card-login .box-selector-green .content-paso{
  clear: both;
  display: block;
}
.info-pasos-pago{
  padding-top: 20px;
}
.wrap-princ .info-pasos-pago .codigo-descuento.disabled {
    display: none;
}
.codigo-descuento .text-total {
  width: 100%;
  display: block;
  clear: both;
}
.info-pasos-pago label{
  color: white;
  font-size: 90%;
}
.info-pasos-pago button{
  color: white;
  margin-top: 9px;
  border-color: white;
}
.info-pasos-pago .form-check-input.form-check-input-pago {
  float: left;
  margin-top: 3px;
}
.info-pasos-pago .form-check-label{
  font-size: 90%;
  cursor: pointer;
}
.info-pasos-pago .contenedor-valor .text-total {
  font-size: 80%;
}
.info-pasos-pago .contenedor-valor {
  width: 100%;
  display: block;
  padding: 20px 0;
  clear: both;
  font-size: 32px;
}
.info-pasos-pago #submit{
  padding: 8px 40px;
  border-color: white !important;
  margin: 20px auto;
  float: right;
  margin-right: 50px;
}
.info-pasos-pago #submit.disabled{
  display: none;
}
.info-pasos-pago .form-check {
  width: 100%;
  display: block;
  clear: both;
}
.info-pasos-pago #codigoInput{
  width: 100%;
}
.wrap-princ .info-pasos-pago .codigo-descuento{
  margin-top: 10px;
}
.wrap-princ .info-pasos-pago .codigo-descuento #msg-coupon{
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}
.wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room .link-terminos {
    color: #ffffff;
}
.wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room .form-group {
    width: 100%;
}
.wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room .form-group label {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
}
.wrap-princ .card-login .box-selector-green .content-additional-pasos .info-pasos-room .form-group .input-codigo {
    width: 100%;
    padding: .5rem;
    text-align: left;
    border: 0;
    color: #47b68b;
}

@media only screen and (max-width:1280px){
    .wrapper-dashboard .content-wrapper .card .card-body{
        padding:1rem
    }
    .wrapper-dashboard .content-wrapper .card .card-body .title-day,.wrapper-dashboard .content-wrapper .card .card-body .title-hour{
        font-size:20px
    }
    .wrapper-dashboard .content-wrapper .card .card-body .bootstrap-datetimepicker-widget table td,.wrapper-dashboard .content-wrapper .card .card-body .wrapper-dashboard .content-wrapper .card .card-body .bootstrap-datetimepicker-widget table th{
        padding:.4rem 0
    }
    .wrapper-dashboard .content-wrapper .card .content-additional-schedule a{
        margin:1rem 0 0!important
    }
}
@media only screen and (max-width:525px){
    .wrap-princ .card-login .box-selector{
        padding:1rem
    }
    .wrap-princ .card-login .box-selector .content-additional-services ul li{
        width:45%;
        margin-bottom:.75rem
    }
    .wrap-princ .card-login .box-selector .content-additional-schedule .form-group,.wrap-princ .card-login .box-selector .content-additional-services ul li span{
        width:100%
    }
    .btn-home>small{
        /* font-size: .8rem; */
        display: none;
    }
}


/* added by abel */

.container {
    padding: 0px;
}
.content-schedule {
    display: inline-flex !important;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cont_schedules {
    padding: .3rem;
    width: 100%;
    /* background-color: aquamarine; */
    /* border: 1px solid gray; */
}

.cont_schedule {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: .2rem;
}
.cont_schedule>div{
    margin:.4rem
}
.cont_calendar {
    flex: 1 0 25%
}
.cont_selectpicker {
    flex: 1 0 40%
}
.cont_calendar>input {
    width: 100%;
    font-size: .7rem;
    padding-left: .1rem;
    padding-right: .1rem;
    text-align: center;

    text-align: center;
    background-image: url("../images/icon_calendar2.png");
    background-position: right center;

    background-repeat: no-repeat;
    padding-right: 18px;
    /* width: 78px; */
}
.span_hour {
    border: 1px solid #4BB68D;
    margin: .2rem;
    cursor: pointer;
    background-color: white;
    color: #4BB68D;
    padding: .5rem;
    font-size: .7rem;
}
.span_hour.active {
    background-color: #4BB68D;
    color: white;
}

.added_schedule, .remove_schedule {
    border:  1px solid white;
    background-color: #4BB68D;
    color: white;
    padding: .5rem;
    cursor:  pointer;
    margin: .2rem;
    padding: .5rem;
    font-size: .7rem;
}

.filter-option {
    padding: .2rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bootstrap-select > .dropdown-toggle  {
    padding: .3rem;
    margin: 0px;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}
.filter-option-inner-inner{
    font-size: .6rem;
}
.dropdown-menu.show {
    font-size: .7rem;
}

/* STYLES FOR RESUME */
#div_resume {
    display: flex;
    flex-direction: column;
}
.resume_row{
    display: flex;
    justify-content: space-around;
    font-size: .8rem;
}
.resume_row>div {
    border: 1px solid rgb(108, 190, 159);
    display: flex;
    justify-content: flex-start;
    margin: .3rem;
}
.resume_row>div>span {
    padding: .5rem;
}

.resume_first_col {
    flex: 0 1 45%;    
}
.resume_second_col{
    flex: 0 1 55%; 
}

#div_schedule {
    display: flex;
    flex-direction: column;
}
.schedule_row {
    display: flex;
    justify-content: flex-start;
    border: 1px solid rgb(108, 190, 159);
}
#div_schedule>p {
    padding-left: .5rem;
    margin-top: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
}
.schedule_row>div{
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: .3rem;
    padding: .3rem;
    font-size: .7rem;
}
.schedule_first_col {
    flex: 0 1 30%;
    align-items: center;
    font-size: .8rem;
    display: flex;
    justify-content: center;
}
.schedule_first_col>span{
    text-align: center;
}
.schedule_first_col>span:last-child{
    font-weight: bold;
    color: yellow;
}
.schedule_second_col{
    flex: 0 1 70%;
    color: rgb(234, 248, 151);
}
.schedule_second_col>div {
    display: flex;
    flex-direction: row;
}
.schedule_second_col>div>span:first-child{
    flex: 1 0 75%;
}
.schedule_second_col>div>span:last-child{
    flex: 1 0 25%;
    color: yellow;
}
#div_paid{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.paid_row{
    font-size: .9rem;
    display: flex;
    /* justify-content: flex-end; */
    padding: .5rem;
}
.paid_row>span:first-child{
    flex : 1 0 75%;
    text-align: right;
}
.paid_row>span:last-child{
    flex : 1 0 25%;
    text-align: center;
}
.btn-home>small{
    font-size: .8rem;
}
#inlineCheckbox1 {
    color: gray;
}
#submit {
    background: #e9e6e6 !important;
    color: #4BB68D !important;
    font-weight: bold;
    width: 70%;
    margin: 1rem;
}
#div_submit{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#label_accept_policies {
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer
}
#label_accept_policies:hover {
    text-decoration: underline;
    color : rgb(177, 252, 181);
}
.step_title {
    font-weight: bold;
}
.text_discount{
    color: #1cb058;
    font-size: 11px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tooltiptex {
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}



